@model Quince.Admin.Core.Models.EntityType.EntityTypeAddEditModel
@{
    var uniqueId = DateTime.Now.Ticks;
    var parentId = Request["parentId"];
}
<div class="result col-xs-12" id="quinceResult@(uniqueId)">
    <input type="hidden" class="unique-id" value="@uniqueId">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.Id)
        <div class="row">
            <div class="col-xs-12">
                Are you sure you want to delete entity type <b>@Model.Name</b>?
            </div>
        </div>
    }
    <script id="" class="actions-template" type="text/x-handlebars-template">
        <button class="btn btn-default btn-sm red" id="deleteEntityTypeSubmit@(uniqueId)">Delete</button>
        <button class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
    </script>

    <script>
        $(document).ready(function () {
            var container = $("#quinceResult@(uniqueId)");
            var options = {
                beforeSubmit: function () {
                    debugger;
                    Quince.messageManager.removeMessages('@uniqueId');
                },
                success: function (response) {
                    Quince.messageManager.processResponse(response, '@uniqueId');
                    if (response.Success) {
                        Quince.appManager.closeApp('@uniqueId');
                        var table = $("#quinceTable@(parentId)");
                        if (table.length > 0) {
                            table = table.DataTable();
                            table.ajax.reload();
                        }
                    }
                }
            };
            $('form', container).ajaxForm(options);
            $('#deleteEntityTypeSubmit@(uniqueId)').click(function () {
                $('form', container).submit();
            });
        });
    </script>
</div>


