@model Quince.Admin.Core.Models.Entity.EntityCardModel

<div class="row portfolio-block">
    <div class="col-md-12">
        <div class="portfolio-text">
            <a href="@Url.Action("Details", "Entity", new { Id = Model.Id })">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/Content/Dashboard/assets/admin/img/@Model.Image" class="img-responsive" style="max-height:80px" alt="" />
                }
                else
                {
                    <img src="~/Content/Dashboard/assets/admin/img/photo.png" class="img-responsive" style="max-height:80px" alt="" />

                }
                <div class="portfolio-text-info">
                    <h4>@Model.Name</h4>
                    <p>
                        @Model.Type
                    </p>
                </div>
            </a>
        </div>
    </div>
    
</div>

