
<form class="search-form" action="@Url.Action("Index", "Search")" method="GET">
    <div class="input-group">
        <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
        <span class="input-group-btn">
            <a href="javascript:;" class="btn submit"><span class="md-click-circle" style="height: 19px; width: 19px; top: -0.5px; left: 2.59375px;"></span><i class="icon-magnifier"></i></a>
        </span>
    </div>
</form>